@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}


.header {
    width: 100%;
    height: 80px;
    background-color: #000;

}

.header a {
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: OpenSans-Regular;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    align-items: center;
    justify-content: center;

}

.content {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 1200px;
    align-items: center;
    text-align: center;

}

.conainer {
    margin: auto;
    max-width: 100%;
    align-items: center;

}

table {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    width: 100%;
    border-spacing: 1;
    border-collapse: collapse;
    font-weight: unset;
    border-radius: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}


tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f0f0f0;
    cursor: pointer;
}

table td, table th {
    padding-left: 15px;
}

table thead tr {
    height: 60px;
    color: white;
    background: rgba(9, 9, 10, 0.67);
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td, table th {
    text-align: left;
}


.myButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 4px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.css-input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    font-size: 14px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    width: 200px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(66, 66, 66, .0);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
}

.css-input:focus {
    outline: none;
}

textarea.css-input {
    height: 100px;
    width: 400px;
}
.header a:hover{
    color: #CCCCCC;
}
.success{
    color: #50bb45;

}

.fail{
    color: #b52407;
}

.deleteBtn {
    color: #b52407;
    cursor: pointer;
    text-decoration: underline;
}
button.pagination {
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: #ddd;
}
button.pagination:hover {
    background-color: #ddd;
    color: black;
}